body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 10%);
    border-radius: 15px;
    max-width: 320px;
    overflow: hidden;
}

#display{
    width: 250px;
    padding: 20px;
    margin-left: 15px;
    margin-top: 30px;
    font-size: 3rem;
    text-align: left;
    border: none;
    background-color: hsl(0, 0%, 25%);
    color: white;
}

.calculator{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

button{
    width: 60px;
    height: 60px;
    border-radius: 20px;
    border: none;
    background-color: hsl(0, 0%, 50%);
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color: hsl(0, 0%, 40%);
}

button:active{
    background-color: hsl(0, 0%, 35%);
}

.operator-btn{
    background-color: hsl(35, 100%, 55%);
}
.operator-btn:hover{
    background-color: hsl(35, 100%, 65%);
}
.operator-btn:active{
    background-color: hsl(35, 100%, 75%);
}